<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets
            'css/bootstrap.css'
            'css/bootstrap-select.css'
            'css/daterangepicker.css'
            'css/global.css'
            'css/graph.css'
            'css/harviewer.css'
            filter='cssrewrite'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts
            'js/jquery.min.js'
            'bundles/braincraftedbootstrap/js/bootstrap.js'
            'js/moment.min.js'
            'js/daterangepicker.js'
            'js/bootstrap-select.js'
            'js/d3.v3.min.js'
            'js/time-graph.js'
            'js/histogram-simple.js'
            'js/pie-simple.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
        <script type="text/javascript">
        $('.selectpicker').selectpicker();
        </script>

    </body>
</html>
