
{% extends "MoschiniPerfToolBundle::layout.html.twig" %}

{% block content %}
{% for file in files %}
<a href="{{ path('moschini_perftool_default_harviewer', {'file':file|slice(12)}) }}">{{ file|slice(12) }}</a>
<br />
{% endfor %}
{% endblock %}
