
{% extends "MoschiniPerfToolBundle::layout.html.twig" %}

{% block content %}
{% for id, file in files %}
<a href="{{ path('moschini_perftool_default_harviewer', {'id':id}) }}">{{ file.getName }}</a>
<br />
{% endfor %}

{% for document in cursor %}
{{ document['log']['pages'][0]['pageTimings']['onLoad'] }}
{% endfor %}

{% endblock %}
