
{% extends "MoschiniPerfToolBundle::layout.html.twig" %}
{% block title 'Requests' %}
{% block content %}

{% render url('moschini_perftool_sites_sites', {'site': app.request.get('site')}) %}

<a class="btn pull-right" href="{{ path('moschini_perftool_default_send', {'site': app.request.get('site')}) }}">Create new</a>


{% if requests|length > 0 %}
<table class="table table-condensed">
<thead>
    <tr>
        <th width="150">Date</th>
        <th>Url</th>
    </tr>
</thead>
<tbody>
{% for id, request in requests %}

    <tr>
        <td>{{ request['date'].format('Y-m-d@H:i:s') }}</td>
        <td>
<a href="{{ path('moschini_perftool_default_harviewer', {'id': id, 'site': app.request.get('site')}) }}">{{ request['url'] }}</a>
        </td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endif %}



{% endblock %}
{% block javascripts %}
{% include 'MoschiniPerfToolBundle::menu.html.twig' with {'site': app.request.get('site'), 'route': 'moschini_perftool_default_index'} %}
{% render url('moschini_perftool_sites_js', {'site': app.request.get('site'), 'url': app.request.get('url')}) %}
{% endblock %}
