
{% extends "MoschiniPerfToolBundle::layout.html.twig" %}

{% block content %}

<a href="{{ path('moschini_perftool_default_send') }}">Add new</a>
<br />
{% for id, file in files %}
{{ file.getDate.format('Y-m-d') }}
<a href="{{ path('moschini_perftool_default_harviewer', {'id':id}) }}">{{ file.getUrl }}</a>
<br />
{% endfor %}


{% endblock %}
