.top-selection{
    padding-bottom:20px;
}

.table th.text-right,
.table td.text-right{
    text-align:right;
}

div.block{
    padding:20px;
}

div#form_agent label,
div#form_nb label{
    display:inline-block; 
    margin-right: 20px;
}

path.domain{
    stroke:black;
    fill:none;
}

line.tick{
    stroke:black;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}

rect{
    stroke:black;
    fill:none;
}
