
.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
  stroke:white;
}

.bar text {
  fill: black;
}

path{
    fill:none;
    stroke:black;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.histgraph {
    width: 560px;
    height: 200px;
}

.timegraph {
    width: 900px;
    height: 300px;
}
