
body{
    line-height:12px;
}
table.top-table{
    width: 100%;
}
table.har{
    border-spacing:0px;
    border-collapse:collapse;
    border: 1px solid black;
}
td{
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size:11px;
    white-space:nowrap;
    padding:0px;
    margin:0px;
}
td.size{
    text-align: right;
}
td.totaltime{
    text-align: center;
}
tr.total{
    border: 1px solid black;
}
.tab-content{
    overflow: visible;
}
span.time{
    height: 12px;
    position: relative;
    display: inline-block;
    min-width: 1px;
}
span.time em{
    display:none;
}
span.bar{
    height: 15px;
    left: 100%;
    width:1px;
    float:left;
}
span.onload{
    background-color:red;
}
span.oncontentloaded{
    background-color:blue;
}
span.second{
    background-color:#dedede;
}
span.five{
    background-color:#bbb;
}
span.blocked{
    background-color:#DE232A;
}
span.dns{
    background-color:#C49123;
}
span.connect{
    background-color:#F7C318;
}
span.send{
    background-color:#A46226;
}
span.wait{
    background-color:#FE882E;
}
span.receive{
    background-color:#563933;
}
.rel{
    position: relative;
}
.tooltip-inner{
    white-space:pre;
}
.pointer{
    cursor: default;
    border-bottom: 1px dotted #999;
}
