
body{
    line-height:12px;
}
table.top-table{
    width: 100%;
}
table.har{
    border-spacing:0px;
    border-collapse:collapse;
    border: 1px solid black;
}
td{
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size:11px;
    white-space:nowrap;
    padding:0px;
    margin:0px;
}
td.size{
    text-align: right;
}
td.totaltime{
    text-align: center;
}
tr.total{
    border: 1px solid black;
}
span.time{
    height: 12px;
    position: relative;
    display: inline-block;
    min-width: 1px;
}
span.time em{
    display:none;
}
span.onload{
    background-color:red;
    height: 15px;
    left: 100%;
    width:1px;
    float:left;
}
span.blocked{
    background-color:#DD514C;
}
span.dns{
    background-color:#007B84;
}
span.connect{
    background-color:#FF7B00;
}
span.send{
    background-color:green;
}
span.wait{
    background-color:#00FF00;
}
span.receive{
    background-color:#007BFF;
}
.rel{
    position: relative;
}
.tooltip-inner{
    white-space:pre;
}
.pointer{
    cursor: default;
    border-bottom: 1px dotted #999;
}
