{% extends "MoschiniPerfToolBundle::layout.html.twig" %}
{% block title 'Adding new site' %}

{% block content %}

<form action="{{ path('moschini_perftool_sites_add') }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}
<br />
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
