{% extends "MoschiniPerfToolBundle::layout.html.twig" %}
{% block title 'Monitoring' %}

{% block content %}

<a class="btn" href="{{ path('moschini_perftool_sites_add') }}">Add site</a>

{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            $('#menu-nav a[href="{{ path('moschini_perftool_sites_index') }}"]').parent().addClass('active');
        });
    </script>
{% endblock %}
